.paypal-nav .nav {
    margin-bottom: 20px;
    margin-left: 8px;
    padding-bottom: 2px;
    border-bottom: 1px solid lightgrey;
}
.paypal-nav .nav>li>a {
    margin-right: 30px;
}
.paypal-nav .nav>li>a, .paypal-nav .nav>li>a:hover,  .paypal-nav .nav>li>a:focus,
.paypal-nav .nav>li>a:hover>span, .paypal-nav .nav>li>a:focus>span{
    color:#2095f2;
    background-color: transparent;
    font-size: 16px;
    text-decoration: none;
    padding-left: 0;
    padding-bottom: 4px;
}

.paypal-nav .nav>li>a:active>span, .paypal-nav .nav>li.active>a:active>span, .paypal-nav .nav>li.active>a>span {
    border-bottom: 3px solid #4277bb;
    padding-bottom: 4px;
}
.paypal-nav .nav>li>a:active>span,
.paypal-nav .nav>li.active>a:active>span,  .paypal-nav .nav>li.active>a:active,.paypal-nav .nav>li>a:active, .paypal-nav .nav>li.active>a>span,  .paypal-nav .nav>li.active>a:focus, .paypal-nav .nav>li.active>a:hover, .paypal-nav .nav>li.active>a:hover>span, .paypal-nav .nav>li.active>a, .paypal-nav .nav>li.active>a:focus>span{
    color:#4277bb;
    background-color: transparent;
    font-size: 16px;
    font-weight: bold;
    padding-left: 0;
}
.active-products img.paypal-products, .parametres .paypal-products {
    width: 135px;
}
.active-products img.product-img {
    height: 20px;
    padding-right: 1px;
}
.active-products .panel span {
    font-weight: bold;
}
.active-products .panel a {
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}
.active-products .panel div.bottom {
    margin-top: 25px;
}
.active-products .panel .btn.btn-default {
    color: #87b1d6;
    border-color: #87b1d6;
    border: 2px solid;
}
.active-products .panel .btn.btn-default:hover{
    color: white;
    background-color: #87b1d6;
    border-color: #87b1d6;
    border: 2px solid;
}
.active-products .panel.active-panel {
    background-color: #F0F8FF !important;
}
.paypal-signup .btn.btn-info {
    padding: 0px 15px 0 0;
}
#paypal_params .parametres {
    float:none;
}
#paypal_params .help-right {
    padding-left: 20px;
    margin-top: 57px;
}
#paypal_params .help-left {
    border-right: 1px solid #25b9d7;
}

.paypal-bold{font-weight:700}
.box ul.tick li{background:url(../img/blue_tick.png) no-repeat left 3px;padding:4px 26px}
#paypal_conf .right, .box ul.tick{float:right}
#paypal_conf .left{width:79%}
#paypal_conf .right{width:17%}
#paypal_conf .box{margin:6px 1%;text-align:left}
#paypal_conf .box ul{list-style:none;margin:0;padding:0;width:66%;}
#paypal_conf .left {float:left}
#paypal_conf .left img {margin-bottom: -5px; /*float:left;  */   width: 100px;}
#paypal_conf .left .logo {
    float: left;
    width: fit-content;
    padding: 15px;
    background: #fff;
    margin: 0 auto;
    text-align: center;
}
#paypal_conf .left .info {
    float: right;
    width: 65%;
}
.active-products > p {
    padding-left: 15px;
}
#ConfirmLive .btn {
    border: 1px solid #666;
    padding: 8px;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
    margin: 10px;
}
#ConfirmLive .btn-info {
    background-color: #25b9d7;
    color: #ffffff;
}


.paypal_block_info{
    border-color: #A1C4E6 !important;
    background-color: #DDEAF6 !important;
}

#paypal_conf .active-products .col-sm-6 .panel{
    min-height: 240px;
}

#credential-configuration ul li {
    list-style-type: decimal;
}

#paypal_conf .left .logo > div {
    margin-top: 11px;
    font-size: 16px;
}
/*section marketing*/
.blue {
    color: #fff;
    background-color: #009cde;
    background-image: radial-gradient(circle farthest-side at center bottom,#009cde,#003087 125%);
}
.containerCentered {
    margin-right: auto;
    margin-left: auto;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    max-width: 1150px;
    padding-left: 3%;
    padding-right: 3%;
}
.row-fluid {
    background: #fff;
    position: relative;
    z-index: 2;
    -webkit-transform: translate3d(0,0,0);
    transform: translate(0,0);
    padding: 15px 0;
    width: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#rtb1.row-fluid, #rtb2.row-fluid {
    background: none;
}
.center-text {
    text-align: center;
}
.containerCentered:after {
    content: "";
    display: table;
    clear: both;
}
.row-fluid [class*=span]:not(.btn) {
    padding-right: 2%;
}
html[data-device-type="dedicated"] .sticky-nav-panel .btn, html[data-device-type="portable"] .sticky-nav-panel .btn, html[data-device-type="dedicated"] .row-fluid .span4, html[data-device-type="portable"] .row-fluid .span4 {
    min-width: 205px;
}
.row-fluid [class*=span]:first-child {
    margin-left: 0;
}
.row-fluid .span4 {
    width: 32%;
}
.row-fluid [class*=span] {
    float: left;
    margin-left: 2%;
    min-height: 1px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
p.contentPara {
    font-size: 14px;
}
.large, h3, html[data-device-type=mobile] .x-large, html[data-device-type=mobile] h2 {
    font-size: 28px;
    font-size: 2rem;
    line-height: 1.25em;
}
.large, .medium, .small, h3, h4, h5, h6 {
    letter-spacing: .01em;
}
.blue h1, .blue h2, .blue h3, .blue h4, .blue h5, .blue h6 {
    font-family: pp-sans-big-light,Helvetica Neue,Arial,sans-serif !important;
    font-weight: 400 !important;
    font-variant: normal !important;
    line-height: 1.25 !important;
}
.blue p {
    color: #fff;
}
.blue a, .dark a {
    font-family: pp-sans-small-bold,Helvetica Neue,Arial,sans-serif;
    font-weight: bold;
    font-variant: normal;
    color: #fff;
    text-decoration: underline;
}
.blue a:hover, .dark a:hover {
    color: #fff;
}
div#config_logo-images-thumbnails img {
    max-height: 90px;
}
@media only screen and (max-width: 1240px) {
    #paypal_conf .box ul {
        width: 55%;
    }
}
@media only screen and (max-width: 900px) {
    #paypal_conf .left .logo {
        float: none;
        margin: 0px;
    }
    #paypal_conf .left .info {
        float: none;
        margin-top: 15px;
        width: 90%;
    }
    #paypal_conf .left {
        width: 97%;
    }
    #paypal_conf .right {
        width: 94%;
    }
    #paypal_conf .box ul {
        width:100%;
        float: none;
    }
}
@media only screen and (max-width: 570px) {
    #paypal_conf .left .logo {
        width: 85%;
    }
}